input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
    display: none;
}
/* This code clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-reveal,input[type="search"]::-ms-clear
{
    display: none;
    height: 0;
    width: 0;
}
details summary::-webkit-details-marker {display: none;}
::-webkit-scrollbar {display: none;}
::-webkit-scrollbar-track {display: none;}
::-webkit-scrollbar-thumb {display: none;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-corner {display: none;}
::-webkit-scrollbar-track-piece {display: none;}
::-webkit-scrollbar-corner {display: none;}
::-webkit-scrollbar {
    transition: opacity 0.2s;
    width: 0.5rem;
    opacity: 0;
}
::-webkit-scrollbar:hover {
    opacity: 0.8;
}
::-webkit-scrollbar-track {
    background: #aa41e700;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #888;
    transition: opacity 0.2s;
    opacity: 0.8;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary); 
}
/* Hide the scrollbar by default */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
::-webkit-scrollbar {
    transition: opacity 0.2s;
    display: none;
    width: 0.5rem;
    opacity: 0;
  }
  
  /* Show the scrollbar when hovering over it */
  ::-webkit-scrollbar:hover {
    opacity: 0.8;
  }
  
  /* Show the scrollbar when scrolling */
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #88888800;
    transition: opacity 0.2s;
    opacity: 0.8;
  }
  
  /* Hide the scrollbar thumb when not hovering or scrolling */
  ::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
    opacity: 0;
  }
  
  /* Show the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: var(--primary);
  }
  
*,
*::before,
*::after{
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/

    transition: all .2s ease-in-out;
    letter-spacing: -.15pt;
    font-family: 'Poppins';
    user-select: none;
    line-height: 16pt;
    list-style: none;
    text-align: left;
    font-size: 13pt; 
    outline: none;
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    background-color: #e7e7e7;
    padding: 44pt 0 0 0;
}
small{
    font-size: 10pt;
}
sub,sup{
    font-size: 8pt;
}
body > *{
    padding: 0 18pt;
}
body > main{
    padding: 0;
}
main{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    display: flex;
    width: 100%;
}
.normal{
    flex-direction: column;
    padding: 18pt;
    display: flex;
    width: 100%;
}
.normal2{
    flex-direction: column;
    text-align: center;
    padding: 18pt;
    display: flex;
    width: 100%;
}
.normal2 > *{
    text-align: center;
}
.twoside{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 18pt;
    width: 100%;
}
.twoside > *{
    text-align: left;
    padding-right: 18pt;
    width: 80%;
}
.hero,
.bottom{
    background-color: #f2f2f2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 18pt;
    display: flex;
    height: 100vh;
    width: 100%;
}
.hero ul,
.bottom ul{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}
.hero .filter,
.bottom .filter{
    background-color: #0b2b13;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: 2;
    left: 0;
    top: 0;
}
.hero li,
.bottom li{
    transition: opacity 1s ease-in-out;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    display: flex;
    width: 100%;
    opacity: 0;
}
.hero li > *,
.bottom li > *{
    margin-bottom: 22pt;
    position: relative;
    text-align: center;
    color: #f2f2f2;
    padding: 0 18pt;
    z-index: 2;
}
.hero li > img,
.bottom li > img{
    object-position: center;
    position: absolute;
    object-fit: cover;
    min-width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
    left: 0;
    top: 0;
}
main a,
.hero li > a,
.bottom li > a, 
.content > a{
    background-color: #129934;
    display: inline-block; 
    border-radius: 50pt;
    width: fit-content;
    padding: 8pt 18pt;
    color: #f2f2f2;
    margin-top: 20pt;
}
main a:hover,
.hero li > a:hover,
.bottom li > a:hover,
.content > a:hover{
    background-color: #077022;
}
.sect1{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 18pt;
    width: 100%;
}
.grey{
    background-color: #141414;
    color: #f2f2f2;
}
.title{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.title *{
    margin-bottom: 9pt;
    text-align: left;
}
.sect1 section{
    flex-direction: column;
    border-radius: 8pt;
    min-width: 160pt;
    max-width: 180pt;
    margin: 9pt 9pt;
    display: flex;
    padding: 18pt;
    width: 100%;
}
.sect1 section p{
    margin-bottom: 18pt;

}
.sect1 section *{
    text-align: center;
}
.sect1 section svg{
    justify-content: center;
    transform: scale(1.5);
    align-items: center;
    margin: 16pt 0;
    height: 20pt;
    width: 20pt;
    padding: 0;
}
.sect2{
    background-color: rgb(180, 228, 250);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18pt 18pt;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.sect2 .cards{
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.sect2 > b{
    margin-bottom: 60pt;
}
.sect2 .cards .card{
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8pt;
    max-width: 250pt;
    margin: 9pt 9pt;
    display: flex;
    height: 350pt;
    width: 100%;
}
.sect2 .cards .card *{
    text-align: center;
}
.sect2 .cards .card img{
    height: calc(60% - 20pt);
    justify-content: center;
    align-items: center;
    margin-top: -18pt;
    width: 100%;
    padding: 0;
}
.sect2 .cards .card .content{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 18pt;
    display: flex;
    width: 100%;
}
.sect2 .cards .card .content *{
    font-size: 11pt;
}
.sect2 .cards .card .content b{
    display: inline-block;
    margin-bottom: 9pt;
}
.sect3{
    background-color: #f2f2f2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 36pt 18pt;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.sect3 *{
    text-align: center;
}
.sect3 ul{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
}
.sect3 ul li{
    padding: 10pt;
    width: 84pt;
}
.sect3 ul li img{
    border-radius: 50pt;
    height: 64pt;
    width: 64pt;
}
html, 
body, 
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
span{
    display: inline-block;
}
header{
    box-shadow: rgb(48, 47, 48) 0 0 5pt;
    justify-content: space-between;
    background-color: #f2f2f2;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    position: relative;
    min-height: 44pt;
    position: fixed;
    padding: 0 18pt;
    display: flex;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
}
header nav {
    flex-direction: row;
    display: flex;
}

header nav > menu {
    background-color: #f4f4f4;
    height: calc(100% - 44pt);
    flex-direction: column;
    overflow-y: scroll;
    padding: 18pt 18pt;
    position: fixed;
    display: flex;
    width: 100%;
    left: -100%;
    top: 44pt;
}
header nav > menu * {
    line-height: 44pt;
    font-size: 22pt;
}
header nav > menu *:hover {
    color: rgb(13, 163, 25);
    font-weight: 700;
}
header nav > menu *:last-child {
    align-items: center;
    line-height: 44pt;
    font-size: 22pt;
    display: flex;
}
header nav > menu *:last-child * {
    margin-left: 10pt;
}
nav #ham{
    display: none;
}
nav label[for="ham"]{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    height: 22pt;
    width: 22pt;
}
nav label[for="ham"] span{
    background-color: #333;
    border-radius: 2pt;
    display: block;
    height: 1.5pt;
    content: '';
    width: 60%;
}
label[for="ham"] span::before,
label[for="ham"] span::after{
    background-color: #333;
    border-radius: 2pt;
    position: absolute;
    display: block;
    height: 1.5pt;
    content: '';
    width: 60%;
}
label[for="ham"] span::before{
    transform: translateY(-4pt);
}
label[for="ham"] span::after{
    transform: translateY(4pt);
}
header nav input[type="checkbox"]:checked ~ menu {
    left: 0;
}
header nav input[type="checkbox"]:checked ~ label[for="ham"] > span {
    background-color: transparent;
}

header nav input[type="checkbox"]:checked ~ label[for="ham"] > span::before {
    transform: translateY(0) rotate(45deg);
}

header nav input[type="checkbox"]:checked ~ label[for="ham"] > span::after {
    transform: translateY(0) rotate(-45deg);
}
main .sponsors{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 18pt;
    width: 100%;
}

main .sponsors li{
    margin: 10pt;
    font-size: 22pt;
    height: 22pt;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,b,strong{
    line-height: normal;
    width: fit-content;
    font-weight: 600;
}
h1{
    letter-spacing: -1.6pt;
    line-height: 55pt;
    font-weight: 800;
    font-size: 44pt;
}
h2{
    letter-spacing: -1.2pt;
    line-height: 44pt;
    font-weight: 700;
    font-size: 36pt;
}
h3{
    letter-spacing: -1pt;
    line-height: 38pt;
    font-weight: 700;
    font-size: 29.5pt;
}
h4{
    letter-spacing: -.8pt;
    font-size: 24.5pt;
}
h5{
    letter-spacing: -.4pt; 
    color: #2b2b2b;
    font-size: 20pt;
}
h6{
    letter-spacing: 0pt;
    font-size: 16pt;
    color: #333;
}
footer{
    background-color: #333;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 18pt;
    display: flex;
    width: 100%;
}
footer div:nth-child(1),
footer div:nth-child(3){
    justify-content: space-around;
    flex-direction: row;
    color: #f2f2f2;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
footer div:nth-child(2){
    background-color: white;
    margin: 50pt 0;
    content: "";
    height: 2pt;
    width: 100%;
}
footer div:nth-child(1) > *,
footer div:nth-child(3) > *{
    margin-right: 18pt;
    margin-top: 18pt;
    text-align: left;
    font-size: 10pt;
    width: 180pt;
}

@media screen and (min-width:426px) { 
    header nav > menu{
        padding: 18pt 36pt;
    }
    body > *{
        padding: 0 36pt;
    }
    *{
        letter-spacing: 0pt;
        line-height: 18pt;
        font-size: 14pt;
    }
    small{
        font-size: 10.5pt;
    }
    h1,h2,h3,h4,h5,h6,b,strong{
        line-height: normal;
        font-weight: 600;
    }
    h1{
        letter-spacing: -1.6pt;
        line-height: 72pt;
        font-weight: 800;
        font-size: 56pt;
    }
    h2{
        letter-spacing: -1.2pt;
        line-height: 56pt;
        font-weight: 700;
        font-size: 46pt;
    }
    h3{
        letter-spacing: -1pt;
        line-height: 46pt;
        font-weight: 700;
        font-size: 36.5pt;
    }
    h4{
        letter-spacing: -.8pt;
        font-size: 30pt;
    }
    h5{
        letter-spacing: -.4pt; 
        font-size: 24pt;
    }
    h6{
        letter-spacing: 0pt;
        font-size: 19pt;
    }
    .normal{
        padding: 36pt;
    }
    .normal2{
        flex-direction: column;
        text-align: center;
        padding: 36pt;
        display: flex;
        width: 100%;
    }
    .sect3{
        background-color: #f2f2f2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 36pt 36pt;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
    .twoside{
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        display: flex;
        padding: 36pt;
        width: 100%;
    }
    .twoside > *{
        padding-right: 18pt;
        text-align: left;
        width: 50%;
    }
    main .sponsors{
        padding: 36pt;
    }
    footer{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 36pt;
        display: flex;
        width: 100%;
    }
}
@media screen and (min-width:718px) {   
    .normal{
        padding: 72pt;
    }
    .normal2{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 72pt;
        display: flex;
        width: 100%;
    }
    .hero li > img,
    .bottom li > img{
        object-position: center;
        position: absolute;
        object-fit: cover;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
    }
    *{
        letter-spacing: .2pt;
        line-height: 20pt;
    }
    header nav{
        background-color: red;
        flex-direction: row;
        align-items: center;
    }
    header nav > menu{
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        position: relative;
        text-align: right;
        padding: 0;
        left: auto;
        top: auto;
    }
    header nav > menu *{
        line-height: normal;
        margin-left: 10pt;
        font-size: 10pt;
    }
    header nav > menu > li:last-child{
        justify-content: left;
        flex-direction: row;
        align-items: center;
        display: flex;
    }
    nav label[for="ham"] {
        display: none;
    }
    body > *{
        padding: 0 72pt;
    }
    small{
        font-size: 11pt;
    }
    h1,h2,h3,h4,h5,h6,b,strong{
        line-height: normal;
        font-weight: 600;
    }
    h1{
        letter-spacing: -1.6pt;
        line-height: 96pt;
        font-weight: 800;
        font-size: 74pt;
    }
    h2{
        letter-spacing: -1.2pt;
        line-height: 80pt;
        font-weight: 700;
        font-size: 62pt;
    }
    h3{
        letter-spacing: -1pt;
        line-height: 66pt;
        font-weight: 700;
        font-size: 52pt;
    }
    h4{
        letter-spacing: -.8pt;
        font-size: 44pt;
    }
    h5{
        letter-spacing: -.4pt; 
        font-size: 36pt;
    }
    h6{
        letter-spacing: 0pt;
        font-size: 29.5pt;
    }
    
    .sect1{
        flex-direction: row;
        align-items: center;
        padding: 18pt 72pt;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
    .title{
        justify-content: left;
        align-items: center;
        flex-direction: row;
        display: flex;
    }
    .sect1 section .title *{
        margin-bottom: 9pt;
        text-align: left;
        font-size: 10pt;
    }
    .sect1 section *{
        text-align: center;
        font-size: 12pt;
    }
   .sect1 section{
        flex-direction: column;
        align-items: center;
        margin: 0 9pt 9pt 0;
        border-radius: 8pt;
        max-width: 250pt;
        display: flex;
        padding: 18pt;
        width: 100%;
    }
    .sect1 section svg{
        position: relative;
        margin: 16pt 16pt;
        top: -6pt;
    }
    .sect3{
        background-color: #f2f2f2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 72pt 72pt;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
    .twoside{
        padding: 72pt;
    }
    main .sponsors{
        padding: 72pt;
    }
    footer{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 72pt;
        display: flex;
        width: 100%;
    }
}